

.header-color{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* page home css*/
.home-grid{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    /*position: fixed;*/
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
}

.b-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #dfe6f2;
    opacity: .8;
    width: 75%;
    height: auto;
    margin: auto;   
    border-radius: .7em;
    margin-bottom: 3em;
}

.name{
    font-family: 'Anton', sans-serif;
}
.b-text h2{
    font-size: 4.3em;
    font-weight: bold;
    color: #2271b3;
}

.b-text hr{
    border-top: .3em dotted white;
    width: 50%;
    margin: auto;
}

.b-text p{
    color: #2271b3;
    font-size: 1.5em;
    padding: 1em;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links img {
    width: 80px;
    height: auto;
    padding: .5em;
}

.content-gif{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto; 
}

.img-gif{
    width: 200px;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.content-gif a{
    width: 30%;
    height: 30%;   
}

/*projects page css*/
.projects-grid{
    margin: auto;
    display: -webkit-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* contact page css */
.contact-body{
    margin: auto;
    background: #cdcdcd;
    color: black;
    /*position: relative;*/
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-body hr{
    border-top: .4em dotted black;
    width: 50%;
    margin: auto;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 88%;
    height: 70vh;
    background: whitesmoke;
    color: black;
    border: .4em solid #256d7b;
    margin-bottom: 1.5em;
}

.contact-grid h2{
    font-family: 'Anton', sans-serif;
}

.contact-grid p{
    font-family: 'Anton', sans-serif;
    width: 75%;
    margin: auto;
    padding-top: 1em;
}

.contact-grid h3{
    font-family: 'Anton', sans-serif;
}

/* page About me*/
.aboutme-body{
    background: #cdcdcd;
    color: #2271b3;
}

.aboutme-grid{

}

.aboutme-grid{

}

.img-logo{
    width: 20%;
    height: 40%;
    padding-top: 5em;
}

.content-hobies{
    display: flex;
}
.content-hobies a{
    width: 20%;
    height: 20%;
}

.hobies-img{
    width: 30%;
    height: 30%;
}
