body{
  /*background-color:#99c5c4;*/
  /*background-image: url("../src/img/escritorio-vintage.jpg");*/
  background-color: #fafbfd;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Tulpen One', cursive;
}

