@import url('https://fonts.googleapis.com/css?family=Tulpen+One&display=swap'); 

body{
  /*background-color:#99c5c4;*/
  /*background-image: url("../src/img/escritorio-vintage.jpg");*/
  background-color: #fafbfd;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Tulpen One', cursive;
}

<<<<<<< HEAD
=======
section{
  max-width: 1200px;
  min-width: 300px;
}
div{
  max-width: 1200px;
  min-width: 300px;
}

h1{
  display: flex;
  font-size: 700%;
  text-align: center;
  color: aliceblue;
  margin: 0;
  margin-left: 430px;
}

h2{
  font-size: 400%;
  text-align: center;
  color: black;
  margin: 0;
  display: flex;

}

img{
 width: 80px;
 height: 80px;
 display: flex;
 float: right;
}

.Home{
  width: 1200px;
  margin: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  opacity: 50px;
}

header{
  width: 1200px;
  height: 200px;
}

.Routcontact{
  display: flex;
  float: right;
  margin-left: 300px;
  font-size: 400%;
  color: aliceblue;
}
.Routprojects{
  display: flex;
  float: left;
  margin-right: 300px;
  font-size: 400%;
  color: aliceblue;
}

.AboutmeContent{
  display: flex;
  flex-direction: column;
}

.AboutMe{
  background-color: rgba(255, 255, 255, 0.6);
  width: 410px;
  height: 100px;
  display: flex;
  float: left;
  margin-top: 50px;
  padding-left: 250px;
  padding-top: 10px;
  border-radius: 15px;
}

.Text{
  background-color: rgba(255, 255, 255, 0.6);
  width: 600px;
  height: 300px;
  display: flex;
  float: left;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  line-height: 1.3;
  margin-top: 10px;
  padding: 30px;
  border-radius: 15px;
}


@media screen and (max-width: 640px) {
  
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  
}

@media screen and (min-width: 1024px) {
  
}

>>>>>>> origin/desarrollo
